body {
    background: #ccc;
    font-family: "Montserrat", Helvetica, sans-serif;
}

.images {
    width: 450px;
    height: auto;
}

#index-body {
    background-color: #ccc;
    background-size: cover;
    color: #fff;
}

a {
    color: blue;
}

h2 {
    text-decoration: underline;
}

li {
    list-style-type: none;
    padding: 10px 0;
}
