body {
	background: #ccc;
	font-family: 'Montserrat', Helvetica, sans-serif;
}

.images {
	width: 450px;
	height: auto;
}

#index-body {
	background-image: url(images/restaurant-table-with-cutlery.jpg);
	background-size: cover;
	color: #fff;
}

a {
	color: #e8e113;
}

h2 {
	text-decoration: underline;
}
